@media screen and (max-width: 2560px) {
  .landing-page {
    margin: 0 auto;
    text-align: center;
  }

  .getting-started {
    display: grid;
    grid-auto-rows: minmax(0, auto);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 8px;
    margin: 0 auto;
    padding-top: 5%;
    width: 87.5%
  }

  .title {
    grid-column: span 12;
    margin: 0;
  }
  
  .subtitle {
    grid-column: span 12; 
    margin: 0;
    text-align: center;
  }

  .sign-in-btn {
    grid-column: 6 / 8;
    justify-self: center;
  }

  .sign-in-btn img {
    filter: invert(100%);
    margin-right: 12px;
    vertical-align: -8px;
  }

  .info-cards {
    display: grid;
    column-gap: 8px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(0, auto);
    margin: 4.4% auto 0 auto;
    padding: 8px 4px;
    width: 95%;
  }

  .info-cards .card {
    background-color: #263238;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    grid-row: 1 / 2;
    padding: 8px;
    width: 100%;
  }

  .info-cards .card h3 {
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  .info-cards .card img {
    filter: invert(100%);
    margin-top: 4px;
  }

  .info-cards .card .card-header-title {
    margin: 4px;
  }
}

/* 1024 screens */ 
@media screen and (max-width: 1024px) {
  .sign-in-btn {
    grid-column: 6 / 8;
  }

  .info-cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    overflow-x: scroll;
  }
}

/* tablet */
@media screen and (max-width: 768px) {
  .sign-in-btn {
    grid-column: 5 / 9;
  }

  .info-cards {
    grid-template-columns: repeat(4, 46.65%);
    grid-template-rows: minmax(0, auto);
    overflow-x: scroll;
  }
}

/* mobile */
@media screen and (max-width: 425px) {
  .getting-started {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, minmax(0, auto));
  }

  .title {
    font-size: 26px;
    grid-column: span 12;
    grid-row: 2 / 3;
  }

  button {
    font-size: 12px;
  }
  
  .subtitle {
    font-size: 16px;
    grid-column: span 12;
    grid-row: 3 / 4;
  }

  .sign-in-btn {
    grid-column: 4 / 10;
    grid-row: 4 / 5;
    justify-self: center;
  }

  .info-cards {
    display: grid;
    row-gap: 8px;
    grid-template-columns: repeat(4, 93.3%);
    grid-template-rows: minmax(0, auto);
    margin-top: 20%;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 320px) {
  

  .subtitle {
    font-size: 9px;
  }

}